:root {
    --main-color: rgba(100, 160, 75, 0.8);
    --main-light-color: rgba(243, 252, 238, 0.8);
    --main-light2-color: rgba(169, 209, 153, 0.8);
    --main-dark-color: rgba(126, 152, 112, 0.8);
    --secondary-color: rgb(126, 156, 128, 0.8);
    --secondary-light-color: rgba(246, 237, 217);
    --background-color: rgba(246, 237, 217);
    --background-dark-color: rgb(242, 230, 208);
    --background-light-color: rgb(250, 241, 221);
    --secondary-medium-color: rgba(82, 131, 109, 0.8);
    --seconary-dark-color: rgba(30, 105, 94, 0.8);
    --seconary-dark-transparent-color: rgba(30, 105, 94, 0.3);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --normal-margin: 20px;
    --big-margin: 30px;
    --small-margin: 10px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-light-color);
    overflow: hidden;
    font-family: sans-serif;
}

.app {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    position: relative;
}

.game {
    margin: auto;
}

/* Rozmycie tła */

.game.stop {
    filter: blur(12px);
}

.menu, .rules, .leaderboard, .window-holder {
    min-width: 700px;
    min-height: 320px;
    width: 50%;
    height: 50%;
    float: left;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.rules, .leaderboard {
    display: none;
}

/* menu settings */

.new-game, .join-game {
    width: 36%;
    height: 100%;
    margin-right: 5%;
    float: left;
}

.options {
    width: 18%;
    height: 100%;
    float: right;
}

.rules-window, .leaderboard-window, .window {
    width: 100%;
    height: 100%;
}

/* window settings - can be applied to other windows */

.new-game, .join-game, .options, .rules-window, .leaderboard-window, .message-window, .window, .players-window {
    box-sizing: border-box;
    border: 5px solid var(--main-color);
    box-shadow: 0 0 0 0.3em var(--secondary-light-color), 0 0 0.4em 0.4em var(--main-color);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    padding: var(--normal-margin);
}

.message-window, .players-window {
    margin: var(--small-margin);
    margin-right: var(--big-margin);
    margin-left: var(--big-margin);
    text-align: center;
}

.message-window {
    width: 150px;
}

.players-window {
    width: 300px;
}

.new-game, .join-game, .options {
    visibility: hidden;
}

.new-game {
    bottom: 40px;
    visibility: hidden;
}

.join-game {
    align-items: center;
    bottom: 40px;
}

/* Wybór poziomu */

.new-game .levels, .new-game .sudoku-types {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.new-game .levels {
    margin-top: var(--big-margin);
    width: 210px;
}

.new-game .sudoku-types {
    margin-top: var(--normal-margin);
    width: 210px;
}

.new-game input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.new-game label {
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--secondary-light-color);
    text-align: center;
    cursor: pointer;
}

.new-game input[type=radio]:checked+label {
    background-color: var(--seconary-dark-color);
}

.new-game input[type=radio]:not(:checked):hover+label {
    background-color: var(--secondary-medium-color);
}

.new-game input[type=radio]:active+label {
    transform: scale(.95);
}

.rules-button, .leaderboard-button, .logout-button {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: 10px;
    color: var(--secondary-light-color);
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    display: table;
    margin: 0 auto;
}

.leaderboard-button, .logout-button {
    margin-top: var(--normal-margin);
}

.rules-button {
    background-image: url('../img/questionmark.png')
}

.leaderboard-button {
    background-image: url('../img/cup.png')
}

.logout-button {
    background-image: url('../img/quit.png')
}

.title {
    margin-bottom: var(--small-margin);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--seconary-dark-color);
    text-transform: uppercase;
}

.rules-window .rules-rule-title, .message-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--seconary-dark-color);
    text-transform: uppercase;
    margin-top: var(--normal-margin);
}

.rules-window .rules-text {
    font-size: 14px;
    color: var(--seconary-dark-color);
    margin-top: var(--small-margin);
}

.rules-window .close-button, .leaderboard-window .close-button {
    width: 40px;
    height: 40px;
    line-height: 37px;
    border-radius: 6.25em;
    border-style: solid;
    box-sizing: border-box;
    border-color: var(--main-color);
    color: var(--main-color);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: var(--normal-margin);
    top: var(--normal-margin)
}

/* Buttons - can be reused */

.sudoku-button {
    width: max-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--secondary-color);
    color: var(--secondary-light-color);
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    margin: var(--normal-margin) auto 0px;
    border: none;
    display: block;
    outline: none;
}

#clipboard-btn, #back-btn {
    margin: 0px auto 0px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

#back-btn {
    margin-top: var(--normal-margin);
}

/* Buttons:hover - can be reused */

.sudoku-button:hover, .options .rules-button:hover, .options .leaderboard-button:hover, .options .logout-button:hover, .submitRegister:hover {
    background-color: var(--seconary-dark-color);
}

.rules-window .close-button:hover, .leaderboard-window .close-button:hover {
    background-color: var(--main-light-color);
}

/* Buttons:active - can be reused */

.sudoku-button:active, .options .rules-button:active, .options .leaderboard-button:active, .options .logout-button:active, .rules-window .close-button:active, .leaderboard-window .close-button:active, .submitRegister:active {
    transform: scale(.95);
}

/* CODE INPUT */

.input-container {
    font-size: 9px;
    border-radius: 6.25em;
    background-color: var(--secondary-light-color);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.1em 0.3em var(--shadow-color);
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: var(--normal-margin);
}

#linkForm .input-container {
    margin-top: var(--big-margin);
}

#linkInput {
    width: 100%;
}

.text-input, .link-button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
    font-size: 1.75em;
}

.text-input {
    color: var(--main-light2-color);
    background: var(--secondary-light-color);
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
}

.text-input::placeholder, input::placeholder {
    color: var(--main-light2-color);
    font-style: italic;
}

.input-container .text-input:valid {
    color: var(--secondary-medium-color);
}

.input-container .text-input:valid+.link-button {
    color: var(--secondary-light-color);
    cursor: pointer;
}

.input-container .text-input:valid+.link-button:active {
    transform: scale(.95);
}

.link-button {
    color: var(--main-light2-color);
    height: 38px;
    width: auto;
    text-align: center;
    width: 5em;
    background-color: var(--secondary-medium-color);
    line-height: 38px;
}

#signinForm, #registrationForm, #verifyForm {
    width: 60%;
    display: table;
    margin: 0 auto;
}

.text-input:focus {
    background-color: var(--background-dark-color);
}

#leaderboard-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: var(--normal-margin);
}

#leaderboard-table td, #leaderboard-table th {
    border: var(--background-dark-color);
    padding: 6px;
}

#leaderboard-table tr:nth-child(even) {
    background-color: var(--background-color);
}

#leaderboard-table tr:nth-child(odd) {
    background-color: var(--background-light-color);
}

#leaderboard-table tr:hover {
    background-color: var(--background-dark-color);
}

#leaderboard-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: var(--seconary-dark-color);
    color: var(--background-color);
}

#controls-title {
    margin-top: var(--normal-margin);
}