<!Doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/board.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
</head>

<body>
    <div class="sudoku">
        <table id='main'>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td class="target" draggable="true">1</td>
                            <td class="target" draggable="true">2</td>
                            <td class="target" draggable="true">3</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">4</td>
                            <td class="target" draggable="true">5</td>
                            <td class="target" draggable="true">6</td>
                        </tr>
                        <tr>
                            <td class="target" draggable="true">7</td>
                            <td class="target" draggable="true">8</td>
                            <td class="target" draggable="true">9</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>